# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
.env

# PDF files
*.pdf

# Keep the project output folder but ignore its contents
pdfs/*
output/*

# Executables
*.exe

# Build files
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log